.hometitle{
    text-align: center;
    padding-top: 30px;
}

.container{
    display: flex;
    padding: 30px;
}
.card{
    margin: 30px;
}
.login{
    width: 600px;
    height: 50px;
    padding: 50px;
    padding-bottom: 200px;
}
.register{
    width: 600px;
    height: 50px;
    padding: 50px;
    padding-bottom: 300px;
}
footer{
    text-align: center;
    background-color: black;
}
footer p{
    color: white;
    padding: 20px;
}