.hometitle{
    text-align: center;
    padding-top: 30px;
}

.container{
    display: flex;
    padding: 30px;
}
.card{
    margin: 30px;
}
footer{
    text-align: center;
    background-color: black;
}
footer p{
    color: white;
    padding: 20px;
}