  <div class="info">
        <section id="intro">
            <p>
                Софроний Врачански е български духовник, врачански епископ, народен будител и пръв последовател на
                делото на Паисий Хилендарски. В началото на XIX век той е приеман от руското и румънското правителство
                за основен представител на българската общност.[1] Автор е на сборника „Неделник“ – първата печатна
                книга на новобългарски език. Канонизиран е за светец от Българската православна църква през 1964 година.
            </p>
        </section>

        <section id="info">
            <h2 class="page-title">Биография</h2>
            <h3 class="page-title">В България</h3>
            <p>
                Софроний Врачански е роден през 1739 година в Котел в семейството на заможен търговец на добитък със
                светското име Стойко Владиславов. Учи в килийно училище в родния си град по старобългарски и гръцки
                черковни
                книги. Работи като абаджия, но се забелязва стремежът му към духовни занимания. През 1762 година е
                ръкоположен за свещеник, работи и като учител и книжовник в родния си град. Голямо влияние върху
                дейността
                му оказва срещата му с Паисий Хилендарски през 1765 година в Котел. Отец Паисий му показва „История
                славянобългарска“, от която той прави препис, известен днес като Първи Софрониев препис. Самият Стойко
                Владиславов пътува до Света гора през 1770 – 1775 година.
                <img src="/content/img/Sofronii.webp" alt="Софроний Врачански" align="right" class="paisii">
                През 80-те години синът му Иван (или Цонко), който се занимава с мащабна търговия с добитък, задлъжнява
                към
                местния епископ, предизвиквайки конфликт между него и Стойко Владиславов. Позовавайки се на контактите
                на
                поп Стойко със знахарки, владиката на два пъти му налага тригодишни забрани за служене. След това е
                обвинен
                от местните власти в незаконна продажба на добитък, който е държавна собственост, арестуван е и е
                измъчван,
                но е освободен, след като плаща 1500 гроша.[3]

                През 1792 година напуска Котел, служи в енорията в Карнобат. Пътува до Цариград, Света гора, Анхиало,
                Арбанаси и през 1794 година става монах в Къпиновския манастир, а на 17 септември същата година е
                ръкоположен за епископ на Враца под името Софроний. Там развива обществена дейност и по някои сведения
                става
                инициатор за изпращане на политическа делегация в Москва от името на врачанските граждани. Поддържа
                връзки с
                гръцките фанариотски среди, посещава и манастира „Седемте престола“ в Стара планина, който е във
                Врачанска
                епархия. След случилите се през 1797 година размирици във Враца с участието на войските на видинския
                паша
                Осман Пазвантоглу напуска града и пътува из Северозападна България. За три години се задържа във Видин,
                където по това време управлява като полунезависим владетел Пазвантоглу. Този период е важен за
                изясняване на
                целите му като писател.
            </p>

            <h3 class="page-title">Във Влашко </h3>
            <p>
                През 1803 година Софроний Врачански заминава за Букурещ, където служи като висше духовно лице. От
                епископската длъжност е освободен по негово настояване, но продължава да се подписва като Софроний
                Врачански. От 1806 до 1812 година е един от най-видните представители на българския народ в отношенията
                с руското командване след проведената в този период Руско-турската война. На 10 януари 1808 година
                изпраща от Букурещ пълномощно на българския представител в Петербург Иван Замбин, заминал на
                дипломатическа мисия там заедно с Атанас Николаев през октомври 1804 г. от страна на българската
                емиграция във Влашко. Това е първият опит да се привлече вниманието на руското правителство към
                българския политически въпрос. Софроний Врачански се среща и разговаря с руските военачалници Багратион,
                Каменски, Кутузов.[4] Така се стига до юни 1811 г., когато била учредена Българската земска войска –
                първата българска самостойна бойна единица от 400 години насам. Софроний освещава бойното знаме и
                благославя воините-доброволци.

                През последните си години се оттегля в манастир край Букурещ.


                Корица на „Неделника“
                Най-добрите свои творби Софроний Врачански пише в букурещкия си период. „Кириакодромион, сиреч Неделник“
                е сборник от поучения и слова за всички неделни и празнични дни в годината, написани въз основа на
                старобългарски и гръцки източници – единственото отпечатано съчинение на Софроний Врачански. Отпечатан е
                в град Ръмнику Вълча през 1806 година. Сборникът има историческо значение – поставя началото на
                новобългарската печатна книга и налага говоримия език като книжовен. Книгата става широко популярна под
                името „Софроние“. Пише и друг сборник – „Неделное евангелское толкование“ (1805, Регионален исторически
                музей, Шумен). „Житие и страдания грешнаго Софрония“ и „Възвание към българския народ“ превръщат
                Софроний в най-видния представител на българската литература от началото на 19 век.

                Неизвестна е датата на смъртта на Софроний (датира се по последния подписан документ от 2 август 1813
                година). Същата година Димитър Попски пише за него ода. Канонизиран е за светец на 31 декември 1964
                година от Българската православна църква,[5] а паметта му се чества на 11 март.
            </p>

        </section>
    </div>