body{
    background-color: #FACE84;
    
}
.docTitle{
    text-align: center;
    padding: 20px;
}
.navigation{
    list-style: none;
    background-color: #8C5A06;
    border-radius: 10px;
    text-align: center;
}
nav ul li{
    display: inline-block;
    font-size: 30px;
    padding: 20px;
}
nav ul li a{
    color: #FACE84;
    text-decoration: none;
    padding: 20px;
}
.page-title{
    text-align: center;
    padding-top: 20px;
}
.sofronii{
    width: 150px;
    height: 180px;
    padding-right:6px; 
    padding-left:6px;
}
.paisii{
    width: 150px; 
    height: 120px;
    padding-right:6px; 
    padding-left:6px;
}
.info{
    padding-bottom: 50px;
    font-size: 20px;
}
#intro{
    text-align: center;
    font-size: 20px;
}

#info{
    font-size: 20px;
}
footer{
    background-color: #8C5A06;
    color: #FACE84;
    border-radius: 10px;
}

footer p{
    text-align: center;
    padding: 20px;
}
