<h1>Update car</h1>

<form action="/update" method="POST">
    <label for="brand">Brand of updating car: <input type="text" name="brand"></label>
    <br>
    <label for="newbrand">Brand: <input type="text" name="newbrand"></label>
    <br>
    <label for="model">Model: <input type="text" name="model"></label>
    <br>
    <label for="year">Year: <input type="text" name="year"></label>
    <br>
    <label for="price">Price: <input type="text" name="price"></label>
    <br>
    <input type="submit" value="Update">
</form>