 <section id="geography">
        <p class="geography-title"><b>Местоположение</b></p>
        <p class="geography-info">Пловдив е разположен в западната част на Горнотракийската низина. През него преминава
            река Марица – най-пълноводната река в България. Така по естествен начин градът се разделя на две части –
            северна и южна. На север от Марица е разположен единствено район „Северен“, известен още със старото си
            наименование Кършияка, а на юг се намира същинската част на града, включваща останалите пет района. Отстои
            на 15 km северно от Родопите и на 50 km южно от Стара планина. Градът се намира на 126 km от столицата
            София, на 381 km от Варна и на 255 km от Бургас.</p>
        <img src="/content/images/plovdiv.svg" style="width: 100%;">
        <br><br>
        <p class="geography-title"><b>Административно устройство</b></p>

        <p class="geography-info">Според Закона за териториалното деление на Столичната община и големите градове,
            територията на град Пловдив е разделена на шест района. <img src="/content/images/map.png" align="right"
                width="150px" height="100px" style="padding-left: 0%; padding-right: 15px; padding-top: 15px;">Кметовете
            на градските райони се избират чрез пряко гласуване сред жителите на града. Кметът на община Пловдив заедно
            с шестте районни кметове представлява местната изпълнителна власт.
            През 1969 г. селата Коматево и Прослав са присъединени към административните граници на града. През 1987 г.
            с решение на централната държавна власт са обособени общините „Марица“ и „Родопи“, чийто административен
            център остава град Пловдив. В последните години жителите на селата Ягодово и Крумово правят постъпки за
            административно присъединяване към община Пловдив.
            На 1 февруари 1877 г. градът е определен за център на Пловдивската губерния. След 1879 г. Пловдив е столица
            на автономната провинция Източна Румелия и административен център на Пловдивския департамент. От 1885 г. е
            център на Пловдивското окръжие, а след 1901 г. – на Пловдивската област. От 1949 г. е седалище на
            Пловдивския окръг, а след 1987 г. – на Пловдивската област.</p>


        <p class="geography-title"><b>Климат</b></p>
        <p class="geography-info">Климатът е преходно-континентален, типичен за доста централни южни части на Европа.
            Средната годишна температура е 12,3 °С. Средната максимална температура през юли е 30,3 °С, а абсолютният
            максимум е измерен на 5 юли 2000 г.: 45 °С. Средната годишна минимална температура е 6,5 °С, а абсолютният
            минимум е минус 31,5 °С, измерен в утрото на 24 януари 1942 г. в състояние на температурна инверсия.
            Средната годишна относителна влажност на въздуха е 73%, като най-висока е през декември (86%), а най-ниска
            през месец август (62%). Средната годишна сума на валежите е 540 mm, с максимум през май-юни (69,2 mm) и
            минимум през август (31 mm). Средният годишен брой дни със снежна покривка в Пловдив е 33. Средната височина
            на снежната покривка е между 2 и 4 cm, а максималната – между 6 и 13 cm. В „града под тепетата“ преобладават
            слаби ветрове (0 – 5 m/s), като ветровете със скорост до 1 m/s са до 95% в годината. Мъглите са чести през
            по-хладните месеци, като дните с мъгли за една година средно са 33.</p>

        <p class="geography-title"><b>Релеф</b></p>

        <p class="geography-info">Пловдивското поле представлява алувиална низина, формирана от река Марица и нейните
            притоци. От север се издига Средна гора, на изток са Чирпанските възвишения. От юг полето е оградено от
            склона на Родопа планина, който е стръмен и висок – около 1300 м н.в., <img src="/content/images/Relef.jpg"
                align="left" width="150px" height="100px"
                style="padding-left: 0%; padding-right: 15px; padding-top: 15px;">прорязан от тесните долини на реките
            Въча, Стара река, Яденица, Чепинска и др. В града са разположени шест сиенитни хълма (тепета). Небет тепе,
            Джамбаз тепе и Таксим тепе образуват Трихълмието (Стария град) в централната част на Пловдив. Другите три
            хълма се казват Джендем тепе, Бунарджик и Сахат тепе; техните по-нови имена са съответно Младежки хълм, Хълм
            на освободителите и Данов хълм. Смята се, че в миналото тепетата са били 11 на брой, но са унищожени за
            строителни материали. До началото на ХХ век изчезват Марково тепе и Алтъ тепе, които са разрушени за направа
            на павета, с които са били постлани пловдивските улици. Говори се за още едно малко тепе, което се е
            наричало Валели тепе. В града е имало и още едно тепе наричано Топлар тепе. Отделно, в покрайнините на
            Пловдив е разположено Лаут тепе, което е близо до жп гара Тракия.
        </p>
        <p class="geography-title"><b>Паркове</b></p>

        <p class="geography-info">
            На територията на града са разположени няколко сравнително големи парка за
            обществено ползване:
        </p>


        <ul>
            <img src="/content/images/ribnitsa.jpg" align="right" width="180px" height="150px"
                style="padding-left: 0%; padding-right: 15px; padding-top: 15px;">
            <li>Парк „Отдих и култура“ се намира в западната част на града, до Гребния канал, след река Първенецка. Там
                се намира и Пловдивски зоопарк.</li>

            <li>Парк „Лаута“ се намира в югоизточната част на града, близо до жилищния район „Тракия“.</li>
            <li>Ботаническата градина се намира в източната част на града, южно от булевард „Цариградско шосе“ и западно
                от квартал „Скобелева майка“.</li>
            <li>Парк „Рибница“ се намира в северната част на града.</li>
            <li>„Цар-Симеонова градина“ – разположена в централната част на града</li>
            <li>Парк „Студенец“ – разположен в квартал Кючюк Париж е голям и просторен парк, обновен сравнително скоро,
                с играчки и пространства за игри и колоездене</li>

        </ul>

        <p class="geography-info">
            Парковете имат изключително значение за екологията и здравето на град Пловдив.
        </p>

    </section>