<div class="intro">
    <p>Животът в Пловдив не е прекъсвал в
        продължение на почти осем хилядолетия, което прави неговата история изключително богата и интересна.
        Сегашният град почива върху останките на много предишни селища, което обуславя богатото му културно
        наследство. Множеството народи, обитавали територията на града, са оставили следи в дебелите над 12 m
        културни пластове и градежи на Пловдив.</p>
</div>

<section id="main-info">
    <ol>
        <li class="text-title">
            <b><i>Античност</i></b>
        </li>

        <p>Най-старите следи от обитаване на територията на днешния град Пловдив са от VI
            хилядолетие пр.н.е., когато възникват първите трайни поселения – няколко неолитни селища като това при
            Яса тепе 1 в квартал Филипово и Яса тепе 2 в квартал Лаута. <img class="nested-img"
                src="/content/images/anthicPlovdiv.JPG" align="left">Най-ранното известно селище на
            Трихълмието е открито на Небет тепе и датира от каменно-медната епоха (IV-III хил. пр.н.е.). То е
            обитавано без прекъсване оттогава до наши дни, поради което е смятано за началния етап от развитието на
            Пловдив. През желязната епоха селището на Небет тепе е укрепен пункт на тракийския народ беси, а през V
            век пр.н.е. е включено в Одриското царство.

            През 342 г. пр.н.е. селището е завладяно от македонския цар Филип II, който му дава своето име –
            Филипополис, използвано в различни варианти и до днес. По това време градът е обграден със здрави
            крепостни стени, но към 320 г. пр.н.е. Одриското царство възстановява самостоятелността си. По време на
            македонското управление и в последвалата Елинистическа епоха Филипополис е превърнат в град и става един
            от важните центрове на Тракия.

            III-I век пр.н.е. е период на политическа нестабилност в Тракия. Одриските царе изпадат в зависимост от
            Римската република, често избухват междуособици и масови въстания. През 183 г. пр.н.е. Филипопол е
            превзет от македонския цар Филип V, но малко по-късно одрисите си го връщат. През 72 г. пр.н.е. градът е
            завладян за кратко от римския пълководец Марк Теренций Варон Лукул по време на похода му срещу бесите,
            но траките скоро възстановяват властта си над града. В началото на I век тракийски бунтовници обсаждат
            във Филипопол поддържания от римляните цар Реметалк II.

            Филипополис окончателно попада в пределите на Римската империя при създаването на провинция Тракия през
            46 г. През Римската епоха градът се превръща във важен пункт на пътя Виа Милитарис, свързващ Сингидунум
            с Византион. Тук той се пресича с пътища, водещи до Ескус край дунавския лимес и през Никополис ад
            Нестум до другия основен път на Балканите – Виа Егнация. Като главен град (метрополия) на провинцията, в
            града се намира седалището на Съюза на траките (Κοινόν των Θρακων), в който членуват представители на
            отделните градове. Според широко разпространено мнение градът придобива статут на метрополия по времето
            на император Септимий Север, но според други мнения това е станало още в началото на управлението на
            император Траян.
        </p>
        <li class="text-title">
            <b><i>Средновековие</i></b>
        </li>
        <p>След разделянето на Римската империя в края на IV век Филипопол остава в Източната Римска империя, в
            границите на която е през по-голямата част от следващото хилядолетие. <img src="/content/images/srednovekovie.jpg"
                align="right" class="nested-img">В средата на VI век, при император
            Юстиниан I, са възстановени и надградени крепостните стени около Трихълмието, а в околностите на града
            са построени десетки спомагателни укрепления. През следващите десетилетия Тракия е многократно нападана
            от българи, авари и славяни, а през 584 година самият Филипопол е подложен на неуспешна обсада от
            аварите. В началото на VII век около града е изградена втора крепостна стена, която обхваща кварталите
            на изток и на юг от Трихълмието. По това време в голяма част от Балканския полуостров масово навлизат
            различни славянски народи. Южно от Филипопол, чак до района на Солун, се установяват драговитите, за
            които по-късно е създадена Драговитийска епископия в рамките на Филипополската епархия. Няма сведения
            славяните да нападат града, но се предполага, че славяни се заселват в него по мирен път.
            Според източници от VII век Филипополската епархия обхваща епископии със седалище в Диоклецианопол (днес
            Хисаря) и неидентифицираните Севастопол и Диоспол, а митрополитът е наричан „екзарх на Тракия
            Драговица“. През VIII век подчинени на филипополския митрополит са още епископите на Берое, Маркели,
            Литопросопос, Декастера и Леведос.
        </p>
        <li class="text-title">
            <b><i>Под османска власт</i></b>
        </li>
        <p>Филипопол е завладян от Османската империя през 1371 година. След Черноменската битка войските на
            бейлербея Лала Шахин напредват към града, българският гарнизон го изоставя и жителите, водени от
            митрополита, се предават доброволно. Филибе е превърнат в султански хас в границите на паша-санджака на
            Румелийския еялет. Градът е тежко засегнат от войните през Османското междуцарствие – първоначално
            контролиран от Сюлейман Челеби, през 1410 година той е превзет от Муса Челеби, който разрушава
            крепостните стени, избива много от жителите, а други изселва от града.
            <img src="/content/images/street.jpg" align="left" class="nested-img">С разрушени укрепления и попаднал
            дълбоко във вътрешността на Османската империя, Филибе губи стратегическото си значение на крепост, но в
            средата на XV век османците извършват мащабно преустройство на града, съпътствано със значителни
            обществени строежи. Западно от Трихълмието е изграден главният мюсюлмански храм Джумая джамия, построен
            е нов мост през Марица, северно от който се образува кварталът Кършияка. Близо до моста бейлербеят
            Шахбедин паша основава голям имарет, от който днес е запазена Имарет джамия. Между моста и Джумая джамия
            се оформя район с много нови ханове и пазари, който остава търговския център на Пловдив до края на
            османската епоха, но до голяма степен е унищожен през XX век.
            Освен значителното мюсюлманско население, установило се в града през този период, там се запазват и
            значителни ромейска, българска, арменска и павликянска общности, както и по-малка, но активна в
            стопанския живот група дубровничани. През XVI век в Пловдив се заселват голям брой сефарадски евреи, а
            през XVII век пристига компактна група арменци от Галиция. През XVII век част от павликяните приемат
            католицизма, а останалите постепенно губят идентичността си. По това време започва и по-бързото
            нарастване на българското население в града.
            През XVIII век Пловдив се утвърждава като водещ икономически център във вътрешността на Балканския
            полуостров с продължаващото разрастване на традиционното абаджийство и други текстилни производства.
            Градът не е пряко засегнат от безредиците на кърджалийството в края на столетието, но те довеждат до
            заселването на много бежанци – българи от Тракия и гърци от Епир и Тесалия.
        </p>
        <li class="text-title">
            <b><i>След Освобождението</i></b>
        </li>
        <p>При Временното руско управление губернатор на Пловдив е генерал Николай Веляминов, а от май до октомври
            1878 година в града е седалището на цялата руска администрация в България, начело с княз Александър
            Дондуков-Корсаков. През този период е възстановен изгореният през войната мост над Марица, създадена е
            Дондуковата градина, основано е първото българско военно училище, преместено през ноември в София. От
            Виена в Пловдив е преместена печатницата на Христо Г. Данов, в която започва да се печата първият
            български вестник след Освобождението – „Марица“.
            <img src="/content/images/now.jpg" align="right" class="nested-img">През юли 1878 година е сключен
            Берлинският договор, който създава Източна Румелия – област с широка автономия, чиято столица става
            Пловдив. В града се установяват генерал-губернаторът, правителството, областното събрание, централните
            съдилища и военното командване на областта. През следващите години са създадени първата публична
            библиотека с музей, първият български професионален театър, девическото училище е преобразувано в
            гимназия, католическото – във френски колеж. През 80-те години в Пловдив работят водещите български
            писатели – Иван Вазов, Петко Славейков, Захарий Стоянов, Константин Величков. Според проведеното през
            1884 година първо преброяване Пловдив има 33 хиляди жители, половината от които са българи, а останалите
            главно турци, гърци, евреи и арменци. Той е най-големият град в Княжество България и Източна Румелия,
            следван от Русе с 26 хиляди жители. През 80-те години започва постепенна индустриализация на града –
            създадени са фабрики за спирт (1882), бира (1882), сапун (1884), няколко частни и държавна печатница,
            механизира се традиционната преработка на тютюн.
            Още със създаването на Източна Румелия въпросът за нейното обединение с останалата част от България е
            основен за политическия живот на областта. През 1885 година Пловдив е в центъра на събитията около
            Съединението – тук действа Българският таен централен революционен комитет, местният военен гарнизон
            отстранява правителството на областта, а новите власти обявяват присъединяването на Източна Румелия към
            Княжество България. Днес 6 септември, Денят на Съединението, се чества и като празник на град Пловдив.
        </p>
    </ol>
</section>