<div class="info-image">
    <a href="https://www.usfhealthonline.com/resources/health-informatics/what-is-health-informatics/"><img
            src="/content/images/screenshot.png" alt="info"></a>
    <a href="https://www.usfhealthonline.com/resources/health-informatics/what-is-health-informatics/"><img
            src="/content/images/screenshot2.png" alt="info"></a>

</div>