<form action="/admin/create" method="post">
<label for="brand">Brand:<input type="text" name="brand"></label>
<label for="model">Model:<input type="text" name="model"></label>
<label for="year">Year:<input type="text" name="year"></label>
<label for="price">Price:<input type="text" name="price"></label>
<label for="ing">Image URL:<input type="text" name="img"></label>

<input type="submit" value="Create">
</form>