<h1>Cats from MongoDB</h1>
{{#each name}}
<div class="card" style="width: 18rem;">
  <img src="/image/Maci.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{{name}}}</h5>
    <p class="card-text">This is our baby!</p>
    <a href="#" class="btn btn-primary">Go to Lussy</a>
  </div>
</div>
{{/each}}