<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cats from MongoDB</title>
</head>
<body>
  <h1>Cats from MongoDB</h1>
  <ul>
      <li>First cat is {{name}}</li>
  </ul>
</body>
</html>
