<form action="/register" method="POST">
<label for="username">Username: <input type="text" name="username"></label>
<label for="email">Email: <input type="email" name="email"></label>
<label for="password">Password: <input type="password" name="password"></label>
<label for="repass">Repeat password: <input type="password" name="repass"></label>
<input type="submit" value="Register">
</form>