<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/content/style.css">
    <title>{{{title}}}</title>
</head>

<body>
    <h1 class="docTitle">{{{docTitle}}}</h1>
    <nav>
        <ul class="navigation">
            <li>
                <a href="/index.html">Начало</a>
            </li>
            <li>
                <a href="Paisii.html">Паисий</a>
            </li>
            <li>
                <a href="Sofronii.html">Софроний</a>
            </li>
        </ul>
    </nav>
    {{{body}}}

    <footer>
        <p>Created by Simona Ognyanova</p>
    </footer>
</body>

</html>