 <div>
    <table class="table">
      <th colspan="2" class="colored">Здравна информатика VS ИТ</th>
      <tr class="colored">
        <td class="colored">Въпреки че концепцията за здравни ИТ включва използването на технологии в здравеопазването,
          здравната
          информатика не е синоним на здравни ИТ. Вместо това информатиката в здравеопазването е „науката, как и защо,
          зад здравните ИТ“, според Центровете за контрол и превенция на заболяванията.</td>
        <td class="colored">
          Здравната информатика прилага концепции, теории и практики на информатиката към ситуации от реалния живот, за
          да постигне по-добри здравни резултати. Това включва събиране, съхраняване, анализиране и представяне на данни
          в цифров формат.
        </td>
      </tr>
    </table>
  </div>

  <div class="video">
    <video width="1000" height="360" controls>
      <source src="/content/images/x2mate.com-What is Healthcare Informatics.mp4" type="video/mp4">
    </video>
  </div>