<div class="info">
    <h1>Информационните технологии и медицината</h1>
    <p>Навлизането на новите електронни технологии доведе до възможността
        насъбраният огромен клиничен материал да бъде обработен много по-добре и
        много по-бързо, като едновременно се разгледат както ретроспективните
        данни, така и се създадат нови насоки за научно-изследователска работа. В
        нашата страна практически няма проучвания на такова ниво. Едно изследване
        в тази област ще даде богат материал както за научно изследване така и за
        създаване на възможности за телемедицинско обучение. То ще позволи на
        лекарите в България, занимаващи се с диагнозата и лечението на различни
        заболявания, а също и на студенти и специализанти от други области на
        медицината, да ползват тези богати Бази данни. </p>

    <p>Според научната хипотеза е възможно, на основата на голяма База
        данни, събрани от ведущи Университетски болници, да бъде създаден
        математически модел на поведение при поставяне на диагноза и лечение,
        както на сравнително добре дефинираните заболявания, така и на някои
        припокриващи синдроми и субклинични форми на тези болести. </p>

</div>