<div class="info">
    <h1>Специалист по клинична информатика</h1>
    <p>Специалист по клинична информатика е роля в здравеопазването на средно ниво; специалистите управляват и
        анализират данни, за да подобрят качеството на грижите за пациентите. На тази позиция ще използвате своя
        опит в областта на здравеопазването и ИТ, за да проектирате, модифицирате и развивате компютърните системи
        на вашата организация, като ги поддържате възможно най-ефективни, ефикасни и сигурни.</p>

    <p>Специалистите по клинична информатика обикновено са отговорни за изграждането и преподаването на
        потребителски интерфейси на персонала на здравната организация, прилагането на планове за подобряване на
        системите за управление на досиета на пациентите и улесняването на комуникацията между ИТ екипа,
        доставчиците на здравни услуги и други заинтересовани страни.</p>

</div>

<div class="info">
    <h1>Учен по данни в здравеопазването</h1>
    <p>Учен по здравни данни е анализатор на данни, който е специализиран в управлението на типовете информация,
        събрана от пациенти, доставчици на здравни услуги, медицински изследователи и правителствени агенции, които
        са ангажирани със здравеопазването. Тези изследователи на данни играят жизненоважна роля в разпространението
        на информация в малък мащаб, както и в прехвърлянето на информация за отделен пациент между различните им
        лекари, в голям мащаб, както и в споделянето на информация за ново заболяване в целия свят глобус и всичко
        между тях.</p>

    <p>Тяхната работа е да използват софтуер за големи данни, за да определят кои битове информация са подходящи,
        как да сортират останалите данни в подходящи пакети и кой какви пакети информация трябва да получи.</p>

</div>

<div class="info">
    <h1>Мениджър здравна информация</h1>
    <p>Мениджърът на здравна информация е отговорен за обработката, прехвърлянето и сигурността на данните за
        пациенти в рамките на здравно заведение или мрежа. Тяхна работа е да гарантират, че всички събрани данни се
        съхраняват сигурно и лесни за достъп, когато е необходимо, но само от правилните хора. Макар и сравнително
        нова роля в здравеопазването, тя бързо става жизненоважна, тъй като зависимостта от цифрови записи
        продължава да нараства.</p>
</div>

<div class="info">
    <h1>Директор по клинична информатика</h1>
    <p>През последните няколко години се появи нова възможност за мениджъри на изпълнително ниво, които имат интерес
        към здравната информатика и талант за работа с компютърни системи. Длъжността е: Директор здравна
        информатика.</p>
    <p>Тази сравнително нова позиция се добавя в медицински заведения в цялата страна, тъй като все повече
        медицински операции преминават от хартиени към електронни медицински досиета, за да се съобразят с
        федералните мандати.</p>
</div>